@model IEnumerable<Tournament.Models.MatchUpEntryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamCompeting.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamCompeting.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MatchUpEntryModelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MatchUpEntryModelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MatchUpEntryModelId })
        </td>
    </tr>
}

</table>
