@model Tournament.Models.TournamentModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TournamentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TournamentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryFee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TournamentModelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
